<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Gallery</title>
    <link rel="stylesheet" href="css/styles.css">
    <h1 class="titulo">Magic Gallery</h1>
    <marquee class="marquesina">
        <h2 class="subtitulo">Bienvenido a la galería de arte más grande de la ciudad </h2>
    </marquee>
</head>
<body>
    <div class="contenedor">
        <nav class="nav">
            <ul class="list">

                <li class="list__item">
                    <div class="list__button">
                        <img src="assets/dashboard.svg" class="list__img">
                        <a href="#" class="nav__link">Inicio</a>
                    </div>
                </li>

                <li class="list__item list__item--click">
                    <div class="list__button list__button--click">
                        <img src="assets/docs.svg" class="list__img">
                        <a href="#" class="nav__link">Servicios</a>
                        <img src="assets/arrow.svg" class="list__arrow">
                    </div>

                    <ul class="list__show">
                        <li class="list__inside">
                            <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                        </li>

                        <li class="list__inside">
                            <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                        </li>
                    </ul>

                </li>


                <li class="list__item">
                    <div class="list__button">
                        <img src="/assets/palette.svg" class="list__img">
                        <a href="#" class="nav__link">Media</a>
                    </div>
                </li>

                <li class="list__item list__item--click">
                    <div class="list__button list__button--click">
                        <img src="/assets/face.svg" class="list__img">
                        <a href="/artista" class="nav__link">Artistas</a>
                        <img src="/assets/arrow.svg" class="list__arrow">
                    </div>

                    <ul class="list__show">
                        <li class="list__inside">
                            <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                        </li>

                        <li class="list__inside">
                            <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                        </li>

                        <li class="list__inside">
                            <a href="#" class="nav__link nav__link--inside">Estoy dentro</a>
                        </li>
                    </ul>

                </li>

                <li class="list__item list__item--click">
                    <div class="list__button list__button--click">
                        <img src="assets/message.svg" class="list__img">
                        <a href="#" class="nav__link">Contacto</a>
                        <img src="assets/arrow.svg" class="list__arrow">
                    </div>

                    <ul class="list__show">
                        <li class="list__inside">
                            <img src="assets/fb.svg" class="list_img">
                            <!-- <a href="#" class="nav__link nav__link--inside">Estoy dentro</a> -->
                        </li>

                        <li class="list__inside">
                            <img src="assets/ing.svg" class="list_img">
                            <!-- <a href="#" class="nav__link nav__link--inside">Estoy dentro</a> -->
                        </li>

                        <li class="list__inside">
                            <img src="assets/twit.svg" class="list_img">
                            <!-- <a href="#" class="nav__link nav__link--inside">Estoy dentro</a> -->
                        </li>

                        <li class="list__inside">
                            <img src="assets/tiktok.svg" class="list_img">
                            <!-- <a href="#" class="nav__link nav__link--inside">Estoy dentro</a> -->
                        </li>
                    </ul>

                </li>

            </ul>
        </nav>

        <div class="mision">
            <h2 class="titulo">Misión</h2>
            <p><span class="ms">Nuestra mision es promover el arte mundialmente, para que las personas puedan conocer mas
                acerca de el y que puedan apreciar las obras de los artistas.</span>
            </p>
        </div>
        <div class="vision">
            <h2 class="titulo">Visión</h2>
            <p><span class="vs">Nuestro objetivo es crear una galeria de arte digital que sea reconocida mundialmente, para que de aqui a dentro de
                10 años podamos ser la galeria de arte mas popular y en la cual las personas vengan a promocionar sus obras.
                Para lograrlo, contamos con un equipo de trabajo que se encarga de la parte de diseño y programacion de la pagina web,
                para que sea lo mas atractiva posible y que los usuarios puedan navegar de manera facil y sencilla.</span>
            </p>
        </div>
    </div>


    <script src="scripts/main.js"></script>
</body>
</html>